html,
body {
	height: 100%;
}

body {
	margin: 0;
}

h1 {
	text-align: center;
	margin: 20px 0 10px 0;
	font-family: kronaOne;
}

h2 {
	font-size: medium;
	display: inline-block;
	font-family: kronaOne;
}

@font-face {
	font-family: kronaOne;
	src: url(fonts/Krona_One/KronaOne-Regular.ttf);
}

#grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 360px;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: lightgray;
	border-radius: 8px;
}

#clear-button {
	display: flex;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: medium;
	margin: 10px auto 10px auto;
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
}

#size-buttons {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	height: 60px;
	width: 400px;
	margin: 0px auto 0px auto;
}

.button {
	display: inline-block;
	margin: 10px;
}

.box {
	width: 20px;
	height: 20px;
	margin: 1px;
	background-color: white;
}
